<%- include('../includes/header.ejs') %>

<!-- Custom styles for this template -->

<link href="/css/today.css" rel="stylesheet" type="text/css">
<!-- eturns the number of elements in that array , in that case if tasks is > 0 return the value in the array -->
<% if (tasks.length > 0) { %>
<!-- create a for cycle of task  -->   
    <% for (let task of tasks) { %>
        <div class="card">

        <div class="card-header">
            Task created <%= task.createdAt %>  <!-- card title (date) -->
        </div>
        <div class="card-body">
            <h5 class="card-title"><%= task.title %></h5> <!-- task title -->
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> <!-- detail task  -->
            <a href="" class="btn">Edit</a>
            <form action="/admin/delete-task" method="POST">
                <input type="hidden" value="<%= task.id %>" name="taskId">
                <button class="btn" type="submit">Delete</button>
            </form>

        </div>
        </div>
    <% } %>
<% } else { %>

<% } %>

<%- include('../includes/footer.ejs') %>